/* Error: Undefined operation "0.5625rem 5px/16px * 0".
 *   ,
 * 6 |   @return ($value / ($value * 0 + 1));
 *   |                      ^^^^^^^^^^
 *   '
 *   scss/02_utils/_units.scss 6:22   removeUnit()
 *   scss/02_utils/_units.scss 11:12  rem()
 *   scss/06_pages/_store.scss 38:12  @import
 *   scss/06_pages/_index.scss 3:9    @import
 *   scss/style.scss 7:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined operation "0.5625rem 5px/16px * 0".\a   \2577 \a 6 \2502    @return ($value / ($value * 0 + 1));\a   \2502                       ^^^^^^^^^^\a   \2575 \a   scss/02_utils/_units.scss 6:22   removeUnit()\a   scss/02_utils/_units.scss 11:12  rem()\a   scss/06_pages/_store.scss 38:12  @import\a   scss/06_pages/_index.scss 3:9    @import\a   scss/style.scss 7:9              root stylesheet';
}
