<!DOCTYPE html>
<html lang="ko-KR">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 - 이디야 커피(Ediya Coffee)</title>
    <meta name="description" content="이디야 커피 브랜드 사이트 (학습용) 홈페이지입니다." />
    <meta name="keywords" content="이디야, 커피, 브랜드, 사이트, 학습용, 홈페이지, 이듬, 블렌디드 러닝" />
    <!-- 스타일링 -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="./../images/favicon.png" type="image/x-icon" />
    <script src="../events/login.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="ediya">
        <header class="header">
          <div class="header__inner">
            <h1 class="header__logo">
              <a href="../index.html"><img src="../images/brand.svg" alt="Ediya Coffee" class="responsiveImg" /></a>
            </h1>
            <button type="button" class="buttonNone buttonBurger" aria-label="메뉴 열기" title="메뉴 열기">
              <span class="icon iconBurger"></span>
            </button>
            <nav class="navigation">
              <h2 class="a11yHidden">메인 메뉴</h2>
              <ul class="navigation__list">
                <li class="navigation__item"><a class="navigation__link" href="./signin.html">로그인</a></li>
                <li class="navigation__item"><a class="navigation__link" href="./signup.html">회원 가입</a></li>
                <li class="navigation__item"><a class="navigation__link" href="./ui-design.html">이디야 디자인</a></li>
                <li class="navigation__item"><a class="navigation__link" href="./beverages.html">이디야 음료</a></li>
                <li class="navigation__item"><a class="navigation__link" href="./news.html">이디야 뉴스</a></li>
                <li class="navigation__item"><a class="navigation__link" href="./store.html">매장 찾기</a></li>
              </ul>
              <button type="button" class="buttonNone buttonClose" title="닫기" aria-label="메인 메뉴 닫기">
                <span class="icon iconClose" aria-hidden="true"></span>
              </button>
            </nav>
          </div>
        </header>
        <main class="main-login">
          <section class="welcome-section">
            <h2 class="login-header">
              로그인
              <p class="sign-welcome">Welcome, Ediya Coffee</p>
              <p class="sign-welcome-kor">이디야커피에 오신 것을 환영합니다.</p>
            </h2>
          </section>
          <form action="/" method="POST" class="form">
            <fieldset class="input-field">
              <legend>로그인 정보 입력</legend>
              <div class="email-container">
                <input type="email" name="email" id="email" value=""/>
                <label for="email" class="email">이메일</label>
                <p class="email-invalid">이메일 입력 방법이 잘못되었습니다.(예: user@domain.io)</p>
                <img src="../images/icon-warning.svg" alt="" class="warning"/>
                <img src="../images/icon-checked.svg" alt="" class="success"/>
              </div>
              <div class="password-container">
                <input type="password" name="password" id="password" />
                <label for="password" class="password">패스워드</label>
                <p class="pwd-invalid">패스워드는 숫자, 영어 조합 6자 이상 입력해야 합니다.</p>
                <img src="../images/icon-visible.svg" alt="" class="eye"/>
                <img src="../images/icon-warning.svg" alt="" class="warning-pwd"/>
              </div>
              <div class="checkbox-container">
                <label for="email-save" class="checkbox">이메일 저장</label>
                <input type="checkbox" name="checkbox" id="checkbox" />
              </div>
              <div class="button-container">
                <button type="button" class="form-btn" disabled="true">로그인</button>
                <a href="./signup.html" class="form-a">회원가입</a>
              </div>
            </fieldset>
          </form>
        </main>
        <footer class="footer">
          <div class="footer__inner">
            <div class="footer__logo">
              <img src="./../images/brand-dark.svg" alt="EDIYA COFFEE" />
            </div>
            <div class="privacy">
              <ul class="privacy__list">
                <li class="privacy__item"><a class="privacy__link" href="#">개인정보처리방침</a></li>
                <li class="privacy__item"><a class="privacy__link" href="#">멤버스 이용약관</a></li>
                <li class="privacy__item"><a class="privacy__link" href="#">가맹 안내</a></li>
                <li class="privacy__item"><a class="privacy__link" href="#">대량쿠폰구매</a></li>
                <li class="privacy__item"><a class="privacy__link" href="#">채용안내</a></li>
                <li class="privacy__item"><a class="privacy__link" href="#">고객의 소리</a></li>
                <li class="privacy__item"><a class="privacy__link" href="#">사이트맵</a></li>
                <li class="privacy__item"><a class="privacy__link" href="#">점주의 방</a></li>
              </ul>
            </div>
            <address class="address">
              <span class="address__content">서울특별시 강남구 논현로 636 이디야빌딩(서울특별시 강남구 논현동 221-17)</span>
              <span class="address__content"><b>TEL : </b>02-543-6467</span>
              <span class="address__content"><b>FAX : </b>02-543-7191</span>
              <span class="address__content"><b>사업자등록번호 : </b>107-86-16302</span>
              <span class="address__content"><b>통신판매업 신고 : </b>강남 제 002519호</span>
              <span class="address__content"><b>대표이사 : </b>문창기</span>
            </address>
            <small class="copyright">&copy; 2017 EDIYA COFFEE COMPANY. ALL RIGHTS RESERVED..</small>
          </div>
        </footer>
      </div>
    </div>
  </body>

</html>