// 이디야 홈(메인 페이지) 시작 ------------------------------------------------------------- /

// 배너 영역
.banner-area {
  overflow: hidden;

  @include mobile {
    padding-bottom: rem(165px);
  }

  @include desktop {
    padding-bottom: rem(260px);
  }

  .banner {
    width: 100%;
    background-color: $secondaryLightBlue;
    text-align: center;

    @include mobile {
      padding: rem(42px) 0 rem(20px);
    }

    @include desktop {
      padding: rem(50px) 0 rem(36px);
    }

    .inner-container {
      position: relative;

      .banner-text:nth-child(1) {
        font-weight: 250;

        @include mobile {
          font-size: rem(25px);
        }

        @include desktop {
          font-size: rem(31px);
        }

        em {
          font-size: rem(31px);
          font-weight: 700;
          color: $primaryBlue;

          @include mobile {
            display: block;
          }
        }

        &::after {
          content: '';
          display: block;
          width: rem(40px);
          height: rem(1px);
          background-color: $black;
          margin: rem(15px) auto;
          transform: scaleY(-50%);

          @include desktop {
            margin: rem(30px) auto;
          }
        }
      }

      .banner-text:nth-child(2) {
        font-size: rem(14px);
        font-weight: 400;
      }
    }

    // 메뉴 보기

    .btn-menu {
      display: inline-block;
      margin-top: rem(15px);
      padding: rem(8px) rem(18px);
      color: $primaryBlue;
      font-size: rem(14px);
      font-weight: 700;
      border: rem(1px) solid $primaryBlue;

      @include desktop {
        padding: rem(8px) rem(24px);
      }
    }
  }
}

// banner images

.banner-img {
  animation: shakes 1s ease-in-out infinite alternate;

  &.cheese {
    @include mobile {
      display: none;
    }

    @include desktop {
      position: absolute;
      display: block;
      top: -2px;
      left: -64px;
      width: 306px;

      img {
        width: 100%;
      }
    }
  }

  &.choco {
    position: absolute;
    display: block;
    width: 225px;
    top: 175px;
    left: 52%;
    transform: translate(-50%, 0);

    @include desktop {
      top: 81px;
      transform: translate(0);
      left: 454px;
      width: 457px;
    }

    img {
      width: 100%;
    }
  }
}

// shakes 모바일 키 프레임

@include mobile {
  @keyframes shakes {
    0% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(-50%, 4%);
    }
  }
}

// shakes desktop 키 프레임

@include desktop {
  @keyframes shakes {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, 4%);
    }
  }
}

// promotion 영역 ----------------------

.promotion {
  // .promotion-video

  .promotion-video {
    @include respondIframe;
  }
}

// announcement
.announcement {
  // notice
  .notice {
    display: flex;
    min-width: rem(320px);
    min-height: rem(115px);

    .notice-control {
      position: relative;
      width: rem(125px);
      background: $gradientBlue;
      color: $grayscaleWhite;
      font-weight: 700;
      font-size: rem(16px);
      padding: rem(15px);
      flex-shrink: 0;

      .control-button-aria {
        position: absolute;
        left: rem(84px);
        top: rem(89px);
        display: flex;

        .btn {
          appearance: none;
          border: 0;
          background-color: inherit;
          margin: 0;
          padding: 0;
        }
      }
    }

    .notice-content-list {
      padding: rem(15px);
      width: 66.67%;
      min-width: rem(195px);

      .content-title {
        color: $primaryBlue;
        font-weight: 700;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: rem(20px);
        white-space: nowrap;
      }

      .content-time {
        font-size: 12px;
        font-weight: 400;
        color: $grayscaleGray;
        margin-top: 5px;
        min-width: 230px;
      }

      .content-description {
        display: block;
        font-size: 12px;
        font-weight: 400;
        color: $grayscaleDarkGray;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: rem(28px);
      }
    }
  }

  // news

  .news {
    position: relative;
    padding: rem(15px);
    background-color: $primaryBlue;
    color: $grayscaleWhite;

    h3 {
      font-size: rem(16px);
      font-weight: 700;
    }
    .news-list {
      margin-top: 15px;

      .news-item a {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        margin-top: 3px;

        span {
          font-size: 13px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        time {
          font-size: 12px;
        }
      }
    }

    .news-more {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

// 이디야 홈(메인 페이지) 종료 ------------------------------------------------------------------ /
